/* src/components/ProductCard.css */
/* src/components/ProductCard.css */
.product-card {
  border: 1px solid #B1A99E;
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  text-align: center;
  max-width: 17%; 
}

.product-card img {
  max-width: 80%;
  height: auto;
  border: 5px solid #B1A99E;
}

  button{
    background-color: #B1A99E;
    margin: .2em;
  }
 